body {
  border:1px solid purple;
  font-family: 'Baloo Bhai', cursive;
}

#greeting{color:green}

h1{
  header:40px solid orange;
  font-family: 'David Libre', serif;
}

img {
  image-orientation:
  -moz-border-radius: 2000px 1000px / 1000px 2000px;
  border-radius: 2000px 1000px / 1000px 2000px;
  image-resolution: from-image;
}
